.about-section {
  padding-top: 10rem;
  background: linear-gradient(to bottom, $white 0%,#{fade-out($white, .1)} 75%,#{fade-out($white, .2)} 100%);
  p {
    margin-bottom: 5rem;
  }
}
.about-section {
  min-height: 20vh;
}
@media (max-width: 1200px ) {
  .about-section .image-container {
    max-height: 15rem; 
  }
}
