.contact-section {
  padding: 5rem 0 5rem;
  .card {
    border: 0;
    border-bottom: 0.25rem solid $primary;
    h4 {
      font-size: 0.8rem;
      font-family: 'Varela Round';
      text-transform: uppercase;
      letter-spacing: 0.15rem;
    }
    hr {
      border-color: $primary;
      border-width: 0.25rem;
      width: 3rem;
    }
  }
  .social {
    margin-top: 3rem;
    a {
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      height: 6rem;
      width: 6rem;
      background: fade-out($white, 0.85);
      border: 1px solid fade-out($primary, 0.5);
      border-radius: 100%;
      i {
        line-height: 1;
        font-size: 2.4rem;
      }
      small {
        font-size: 0.6rem;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        margin-top: 0.2rem;
      }
      color: $primary;
      &:hover {
        background: fade-out($primary, 0.85);
        border-color: $primary;
        color: $white;
      }
      &:active {
        color: $white;
        background: fade-out($primary, 0.7);
      }
    }
  }
}
