$showcase-padding: 5vh 5vw;
$showcase-bg-color: #f0f0f0;
$showcase-dark-bg-color: #58595b;
$showcase-dark-color: rgba(255, 255, 255, .5);


$showcase-flex: 0 1 50%;

$bigimage-flex-image: 1 1 55%;
$bigimage-flex-content: 1 1 45%;

$smallimage-flex-image: 1 1 20%;
$smallimage-flex-content: 1 1 80%;

$media-max-width: 992px;
$media-bigimage-width: 1200px;

.showcase {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  min-height: 30vh;
  margin: 2ex 0;
  background-color: $showcase-bg-color;
  > .image {
    min-height: 30vh;
  }
  > .image,
  > .content {
    text-align: left;
    flex: $showcase-flex;
    align-items: center;
    padding: $showcase-padding;
    margin: 0;
    border: 0;
    font-size: 0.9rem;
    h1, h2, h3, h4, h5, h6 {
      color: black;
      text-transform: uppercase;
      font-size: 1.5rem;
    }
  }
  > .content {
    align-self: center; /* Vertically align item2 */
    hr {
      border-color: $primary;
      border-width: 1px;
      width: 30%;
      display: inline-block;
    }
  }
  > .image {
    position: relative;
    background-image: url('path/to/your/image.jpg');
    background-size: cover;
    background-position: center;
  }
  .image > .photo_credits {
    transform: rotate(-90deg);
    transform-origin: 5px 5px;
    opacity: 0.8;
    font-size: 10px;
    margin: 0;
    bottom: 0;
    left: 0;
    padding: 1px;
    position: absolute;
    color: white !important;
    text-shadow: 0 0 5px rgba(0, 0, 0, 1);
    a {
      color: white !important;
      text-shadow: 0 0 5px rgba(0, 0, 0, 1);
    }
  }
  &.reverse {
    flex-direction: row-reverse;
    text-align: right;
    > .content {
      margin: 0;
      text-align: right;
    }
  }
  &.bigimage {
    > .image {
      flex: $bigimage-flex-image;
    }
    > .content {
      flex: $bigimage-flex-content;
    }
  }
  &.smallimage {
    > .image {
      flex: $smallimage-flex-image;
    }
    > .content {
      flex: $smallimage-flex-content;
    }
  }
  &.dark {
    background-color: $showcase-dark-bg-color;
    color: white;
    a:hover {
      color: white;
    }
    > .content {
      h1, h2, h3, h4, h5, h6 {
        color: white;
      }
    }
    > .content {
      color: $showcase-dark-color !important;
    }
  }
}


@media (max-width: $media-bigimage-width) {
  .showcase {
    > .image,
    > .content {
      //    flex: $showcase-flex !important;
    }
  }
}
@media (max-width: $media-max-width) {
  .showcase {
    &, &.reverse {
      flex-direction: column;
    }
    > .image,
    > .content {
      flex: 0 0 100%;
      padding: 1rem;
      text-align: center !important;
    }
  }
}

