@import 'variables.scss';
@import 'mixins.scss';
@import 'navbar.scss';
@import 'masthead.scss';
@import 'buttons.scss';
@import 'about.scss';
@import 'projects.scss';
@import 'signup.scss';
@import 'contact.scss';
@import 'showcase_fede.scss';
@import 'bouncingarrow.scss';
@import 'brochure.scss';
@import '../vendor/bootstrap/css/bootstrap';

body {
//  font-family: 'Nunito';
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.0625em;
  font-size: 110%;
}

a {
  color: $primary;
  &:focus,
  &:hover {
    text-decoration: none;
    color: darken($primary, 20%);
  }
}

.bg-black {
  background-color: $black !important;
}

.bg-primary {
  background-color: $primary !important;
}

.text-primary {
  color: $primary !important;
}

footer {
  padding: 5rem 0;
}
/*
 * MIRIGI
 */
/*
*/
.masthead {
  background: linear-gradient(to bottom, transparent 0%,#{fade-out($white, .8)} 75%,$white 100%), url('/img/others/bg-masthead.webp') !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-attachment: scroll !important;
    background-size: cover !important;
  h1 {
    background: -webkit-linear-gradient(fade-out(black, 0.5), fade-out(black, .4));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  h1, h2, h3 {
    text-shadow: 0 0 1px fade-out($black, .7);
  }
}
.navbar-light .navbar-nav a.nav-link, .navbar-light .navbar-brand { 
  color: black !important;
}


  .featured-text-left {
    padding: 2rem;
    @media (min-width: 1200px) {
      padding: 2rem;
      border-right: 0.5rem solid $primary;
    }
  }
  .featured-text, .featured-text-right {
    padding: 2rem;
    @media (min-width: 1200px) {
      padding: 2rem;
      border-left: 0.5rem solid $primary;
    }
  }




// all and smaller devices
.image-container {
  position: relative;
  overflow: hidden;
  height: 100%;
}

.row.feature {
  min-height: 20rem;
}





.bg-mirigi-dark {
  background: #58595b !important;
}

.feature {
  @extend .bg-mirigi-dark;
}

.feature, .contact-section, footer {
  @extend .bg-mirigi-dark;
}
.feature > div * {
  text-color: $white !important;
}
.feature h4 {
  @extend .text-white;
}
.feature p {
  @extend .text-white-50;
}

#features {
  .row {
    margin: 1ex;
  }
}
/*
#features {
  .row img {
    @extend .col-xl-4;
    @extend .col-lg-4;
    min-height: 45rem; 
    object-fit: cover; 
    object-position: 0 0;
    padding:0;
  }
  .row div {
    @extend .col-xl-8;
    @extend .col-lg-8;
  }
}*/

.image-container {
  position: relative;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover !important;
}
.image-container .photo_credits {
  transform: rotate(-90deg);
  transform-origin: 5px 5px;
  opacity: .8;
  font-size: 10px;
  margin: 0;
  bottom: 0;
  left: 0;
  padding: 1px;
  position: absolute;
  color: lightgrey !important;
  text-shadow: 0 0 10px rgba(0,0,0,.5);
  a {
    color: lightgrey !important;
    text-shadow: 0 0 10px rgba(0,0,0,.5);
  }
}






