/* Ultra Light Family */
@font-face {
    font-family: 'NimbusSansNovus-UL';
    src: url('http://static.mirigi.com/tumblr/fonts/nimbussansnovus-ul/1C3295_4_0.eot');                                    /* IE9 Compat Modes */
    src: url('http://static.mirigi.com/tumblr/fonts/nimbussansnovus-ul/1C3295_4_0.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('http://static.mirigi.com/tumblr/fonts/nimbussansnovus-ul/1C3295_4_0.woff') format('woff'),                    /* Modern browsers */
         url('http://static.mirigi.com/tumblr/fonts/nimbussansnovus-ul/1C3295_4_0.ttf') format('truetype');                 /* Safari, Android, iOS */
}

/* Light Family  */ 
@font-face {
    font-family: 'NimbusSansNovus-L';
    font-weight: normal;
    font-style: normal;
    src: url('http://static.mirigi.com/tumblr/fonts/nimbussansnovus-l/1D462E_1_0.eot');
    src: url('http://static.mirigi.com/tumblr/fonts/nimbussansnovus-l/1D462E_1_0.eot?#iefix') format('embedded-opentype'),
         url('http://static.mirigi.com/tumblr/fonts/nimbussansnovus-l/1D462E_1_0.woff') format('woff'),
         url('http://static.mirigi.com/tumblr/fonts/nimbussansnovus-l/1D462E_1_0.ttf') format('truetype');
}

@font-face {
    font-family: 'NimbusSansNovus-L';
    font-weight: normal;
    font-style: italic;
    src: url('http://static.mirigi.com/tumblr/fonts/nimbussansnovus-l/1D462E_2_0.eot');
    src: url('http://static.mirigi.com/tumblr/fonts/nimbussansnovus-l/1D462E_2_0.eot?#iefix') format('embedded-opentype'),
         url('http://static.mirigi.com/tumblr/fonts/nimbussansnovus-l/1D462E_2_0.woff') format('woff'),
         url('http://static.mirigi.com/tumblr/fonts/nimbussansnovus-l/1D462E_2_0.ttf') format('truetype');
}
 
@font-face {
    font-family: 'NimbusSansNovus-L';
    font-weight: bold;
    font-style: normal;
    src: url('http://static.mirigi.com/tumblr/fonts/nimbussansnovus-l/1D462E_3_0.eot');
    src: url('http://static.mirigi.com/tumblr/fonts/nimbussansnovus-l/1D462E_3_0.eot?#iefix') format('embedded-opentype'),
         url('http://static.mirigi.com/tumblr/fonts/nimbussansnovus-l/1D462E_3_0.woff') format('woff'),
         url('http://static.mirigi.com/tumblr/fonts/nimbussansnovus-l/1D462E_3_0.ttf') format('truetype');
}

@font-face {
    font-family: 'NimbusSansNovus-L';
    font-weight: bold;
    font-style: italic;
    src: url('http://static.mirigi.com/tumblr/fonts/nimbussansnovus-l/1D462E_0_0.eot');
    src: url('http://static.mirigi.com/tumblr/fonts/nimbussansnovus-l/1D462E_0_0.eot?#iefix') format('embedded-opentype'),
         url('http://static.mirigi.com/tumblr/fonts/nimbussansnovus-l/1D462E_0_0.woff') format('woff'),
         url('http://static.mirigi.com/tumblr/fonts/nimbussansnovus-l/1D462E_0_0.ttf') format('truetype');
}


body {
    margin: 0;
    background-image: url(http://static.mirigi.com/tumblr/img/blog_header_bg.png);
    background-repeat: repeat-x;
    background-position: center top;
    font-family: 'NimbusSansNovus-L', Georgia;
    font-size: 16px;
    line-height: 150%;
    color: #333;

}

.wrapper {
    width: 50%;
    min-width: 500px;
    margin: auto;
}

div.header > h1 > a {
    margin-top: -59px;
    margin-left: -10px;
    text-indent: -9999px;
    display: block;
    background: no-repeat url(http://static.mirigi.com/tumblr/img/blog_header_logo.png);
    height: 150px;
}

h1, h2, h3, h4 {
    font-family: 'NimbusSansNovus-UL', Georgia;
}

h1{
    color: #3c5589;
    font-weight: normal;
    margin-bottom: 0px;
}

h2 {
    color: #666;
    font-weight: normal;
    margin-bottom: 0px;
}

.header p {
    font-family: 'NimbusSansNovus-L';
    font-size: 0.8em;
    color: #888;
}

.header a {
    color: #333;
    text-decoration: none;
    padding: 1px 2px;
}

p.pages{
    text-align: right;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

a {
    color: #4f6ea2;
    text-decoration: none;
    padding: 1px 2px;
}

a:hover{
    color: #6da1f8;
}

strong {
    color:#5c5c5c;
    font-weight: bold;
}