

<div class="showcase"   style="min-height:50vh;">
  {% assign image = customer.image %} 
  <div class="image" style="background-image: url('{{ image }}')">

    <p class="photo_credits">
      {{customer.image_credits}}
    </p>
  </div>
  <div class="content">
    <div>
      <div>
        <h3 class="text-black" style="text-transform: uppercase;">{{ customer.name }}</h3>
        <p class="text-black-50" >{{ customer.content | markdownify }}</p>
        <hr>
        {% if customer.link %}
        <div>
          <a href="{{customer.link}}">
            {{site.data[page.lang].more_info}}
          </a>
          {% endif %}
          {% if customer.maplink %}
          <a href="{{customer.maplink}}">
            {{site.data[page.lang].location}}
          </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

