{% if feature.image contains "http://" or feature.image contains "https://" or feature.image | slice: 0, 1 == "/" %} 
{% assign image = feature.image %} 
{% else %}
{% assign image = "/" | append:page.url | append: "/" | append: feature.image %}
{% endif %}
{% if is_even == 0 %}
<div class="showcase bigimage dark">
  <div class="image"  style="background-image: url('{{ image }}')">
    <p class="photo_credits">
      {{feature.image_credits}}
    </p>
  </div>
  <div class="content">
    <div>
      <h4>{{ feature.title }}</h4>
      <p>{{ feature.description | markdownify }}</p>
      <hr/>
      {% if feature.content.size > 1 %}
      <div>
        <a href="{{feature.url}}">
          {{site.data[page.lang].more_info}}
        </a>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% else %}
<div class="showcase bigimage reverse dark">
  <div class="image"  style="background-image: url('{{ image }}')">
    <p class="photo_credits">
      {{feature.image_credits}}
    </p>
  </div>
  <div class="content">
    <div>
      <h4>{{ feature.title }}</h4>
      <p>{{ feature.description | markdownify }}</p>
      <hr/>
      {% if feature.content.size > 1 %}
      <div>
        <a href="{{feature.url}}">
          {{site.data[page.lang].more_info}}
        </a>
      </div>
      {% endif %}
    </div>
  </div>
</div>

{% endif %}
