<div class="row align-items-center no-gutters mb-4 mb-lg-0 feature">
  {% if feature.content.size > 1 %}
  <a href="{{feature.url}}">
  {% endif %}
  {% if is_even == 0 %}
  <div class="col-xl-7 col-lg-6 image-container">
    <img class="ximg-fluid" src="{{ feature.image }}" alt="">
    <p class="photo_credits">
      @<a href="https://www.flickr.com/photos/jikatu/">jikatu</a>
    </p>
  </div>
  <div class="col-xl-5 col-lg-6">
    <div class="project-text w-100 my-auto text-center text-lg-left">
      <h4 style="text-transform: uppercase;">{{ feature.title }}</h4>
      <p>{{ feature.description | markdownify }}</p>
      <hr class="d-none d-lg-block mb-0 ml-0">
      {% if feature.content.size > 1 %}
        <a href="{{feature.url}}">
          More info
        </a>
      {% endif %}
    </div>
  </div>
  {% else %}
  <div class="col-xl-5 col-lg-6 order-lg-first">
    <div class="text-center h-100 project">
      <div class="d-flex h-100">
        <div class="project-text w-100 my-auto text-center text-lg-right">
          <h4>{{ feature.title }}</h4>
          <p>{{ feature.description | markdownify }}</p>
          <hr class="d-none d-lg-block mb-0 mr-0">
          {% if feature.content.size > 1 %}
            <a href="{{feature.url}}">More info</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-7 col-lg-6 image-container">
    <img class="ximg-fluid" src="{{ feature.image }}" alt="">
    <p class="photo_credits">
      @<a href="https://www.flickr.com/photos/jikatu/">jikatu</a>
    </p>
  </div>
  {% endif %}
  {% if feature.content.size > 1 %}
  </a>
  {% endif %}
</div>
