---
layout: default
---

  <header class="masthead arrow-container">
    <a class="js-scroll-trigger" href="#about">
      <div class="container d-flex h-100 align-items-center ">
        <div class="mx-auto text-center">
          <h1 class="text-white-50 mx-auto mt-2 mb-5">
            {{page.header}}
          </h1>
          <h2 class="text-white-40 mx-auto mt-2 mb-5">
            {{page.subheader}}
          </h2>
        </div>
      </div>
      <span class="arrow" href="#about"></span>
    </a>
  </header>

  <main>
<section class="about-section bg-light"  >
  <div class="container">
    <div class="row align-items-center no-gutters mb-4 mb-lg-5" id="about" >
      <div class="col-xl-4 image-container">
        <img class="ximg-fluid" src="/img_mirigi/table.jpg" alt="">
        <p class="photo_credits">
          @<a href="https://www.flickr.com/photos/jikatu/">jikatu</a>
        </p>
      </div>
      <div class="col-xl-8">
        <div class="featured-text-right text-right text-lg-left">
          <h2>{{page.aboutTitle}}</h2>
          <div class="mb-0 text-black-50">
            <p>{{ content | markdownify }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="projects-section bg-light" id="features">
  <div class="container">
    <h2>{{site.data[page.lang].features}}</h2>
    {% assign features = site.features | where: 'lang',page.lang %}
    {% for feature in features %}
      {% assign is_even = forloop.index | modulo: 2 %}
      {% include feature_div.html feature=feature is_even=is_even %}
    {% endfor %}
  </div>
</section>

<section class="projects-section" id="customers">
  <div class="container mt-5">
    <h2>{{site.data[page.lang].customers}}</h2>
    <div id="customerCarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        {% assign customers = site.customers | where: 'lang',page.lang %}
        {% for customer in customers %}
        {% if forloop.first %}
        <div class="carousel-item active">
          {% else %}
          <div class="carousel-item">
            {% endif %}
              {% include customer_div_v2.g.html customer=customer%}
          </div>
          {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#customerCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#customerCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <div class="row justify-content-center">
        <br/>
        <div class="col-md-10 mb-2 mb-md-0">
          <div class="well h-100 text-black-50 text-center ">
            {{ page.customersText }}
          </div>
        </div>
        <br/>
      </div>
    </div>
</section>

<section id="contacts" class="contact-section">
  <div class="container">
    <div class="row justify-content-center">
      <br/>
      <div class="col-md-12 mb-2 mb-md-0">
        <div class="well h-100 text-white text-center ">
          {{ page.contactText }}
        </div>
      </div>
      <br/>
    </div>

    <br/>
    <div class="row justify-content-center">
      <div class="col-md-6 mb-3 mb-md-0">
        <div class="card py-4 h-100">
          <a href="mailto:info@mirigi.com?subject=Mirigi">
            <div class="card-body text-center">
              <i class="fas fa-envelope text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">{{page.emailLabel}}</h4>
              <hr class="my-4">
              <div class="small text-black-50">
                info@mirigi.com
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-6 mb-3 mb-md-0">
        <div class="card py-4 h-100">
          <div class="card-body text-center">
            <i class="fas fa-mobile-alt text-primary mb-2"></i>
            <h4 class="text-uppercase m-0">{{page.phoneLabel}}</h4>
            <hr class="my-4">
            <div class="small">
              <a href="tel:+13056920362"><span style="user-select: none;">&#x1F1FA;&#x1F1F8;</span> +1 (305) 692 0362 </a>


            </div>
            <div class="small text-black-50">
              <a href="tel:+59826008887"><span style="user-select: none;">&#x1f1fa;&#x1f1fe;</span> +598 2 600 8887 </a>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="social d-flex justify-content-center">
        <a href="https://play.google.com/store/apps/details?id=com.ikatu.mirigi&hl=es_419" class="mx-2">
          <i class="fab fa-android"></i><br />
          <small> Android</small>
        </a>
        <a href="https://apps.apple.com/gm/app/mirigi/id1076011022" class="mx-2">
          <i class="fab fa-app-store-ios"></i><br />
          <small>iOS</small><br /><span style="opacity:0; font-size: 0.1px;margin-top:-5rem">ipad tablet iphone</span>
        </a>
      </div>
    </div>
  </div>
</section>
</main>
